header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: rgb(250, 205, 120);
  padding: var(--head-foot-vert-padding) var(--side-padding);
}

.headerInColumn {
  flex-direction: column;
}
.headerInline {
  flex-direction: row;
  justify-content: space-between;
}

.headerInline .userMenu {
  right: 0;
}

.logo {
  font-weight: bold;
  color: var(--main-text-color);
  display: flex;
  gap: 0.4rem;
}

.logo img {
  max-width: var(--max-h-font-size);
  max-height: var(--max-h-font-size);
  margin: auto 0;
}

.userName {
  color: var(--purple-blue);
  cursor: pointer;
}
.userName:hover {
  color: var(--light-purple);
}
