.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-weight: bold;
  display: flex;
}

.logo img {
  max-width: 3rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.navButton {
  border-radius: 8px;
  border: 1px solid #555;
  padding: 0.2rem 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;
  text-decoration: none;
  transition: border-color 0.25s;
}

.navButton:hover {
  background-color: #e0dfe0;
}

.userBlock {
  position: relative;
}

.userName {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
}

.logOutButton {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.5rem 1rem;
  background-color: #555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.logOutButton:hover {
  background-color: #777;
}
